xterm*termName: xterm-256color

! Use a truetype font and size.
! xterm*faceName: DejaVu Sans Mono:style=Book
! xterm*faceName: DejaVuSansMono Nerd Font Mono:style=Book
! xterm*faceName: RobotoMono Nerd Font Mono:style=Regular
! xterm*faceName: Cousine Nerd Font Mono:style=Regular
! xterm*faceName: FiraCode Nerd Font Mono:style=Regular
! xterm*faceName: Hack Nerd Font Mono:style=Regular
! xterm*faceName: JetBrainsMono Nerd Font Mono:style=Regular
xterm*faceName: MesloLGS Nerd Font Mono:style=Regular
xterm*faceSize: 11.5
xterm*renderFont: true

! Only select text
xterm*highlightSelection: true
! Remove trailing spaces
xterm*trimSelection: true
! By default, 1024 lines are saved.
XTerm.vt100.saveLines: 4096
! Cursor color is always the color of the foreground,
xterm*cursorColor: *XtDefaultForeground
! The definition of a "word" depends on the character class resource
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48

! Copy paste clipboard & increase and decrease font
xterm*VT100.Translations: #override \
  Ctrl Shift <Key> V: insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key> C: copy-selection(CLIPBOARD) \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl <Key> 0: set-vt-font(d) \n\
  Ctrl Shift <Key> K: scroll-back(1) \n\
  Ctrl Shift <Key> J: scroll-forw(1)

! Base16 Classic Dark
! Scheme: Jason Heeris (http://heeris.id.au)

#define base00 #151515
#define base01 #202020
#define base02 #303030
#define base03 #505050
#define base04 #b0b0b0
#define base05 #d0d0d0
#define base06 #e0e0e0
#define base07 #f5f5f5
#define base08 #ac4142
#define base09 #d28445
#define base0A #f4bf75
#define base0B #90a959
#define base0C #75b5aa
#define base0D #6a9fb5
#define base0E #aa759f
#define base0F #8f5536

xterm*foreground:   base05
#ifdef background_opacity
xterm*background:   [background_opacity]base00
#else
xterm*background:   base00
#endif

xterm*color0:       base00
xterm*color1:       base08
xterm*color2:       base0B
xterm*color3:       base0A
xterm*color4:       base0D
xterm*color5:       base0E
xterm*color6:       base0C
xterm*color7:       base05

xterm*color8:       base03
xterm*color9:       base08
xterm*color10:      base0B
xterm*color11:      base0A
xterm*color12:      base0D
xterm*color13:      base0E
xterm*color14:      base0C
xterm*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
xterm*color16:      base09
xterm*color17:      base0F
xterm*color18:      base01
xterm*color19:      base02
xterm*color20:      base04
xterm*color21:      base06
